
.list {
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
}
  .produkti {
    text-align: center;
  }
  .item {
    text-align: center;
    padding: 15px;
  }

  .name {
    padding-left: 15px;
  }
  .add{
    text-align: right;
  }